In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction import DictVectorizer
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import classification_report
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import cross_val_score

import os, sys, pickle
import matplotlib.pyplot as plt
from datetime import date
from sklearn.linear_model import SGDClassifier

In [3]:
train_user = pd.read_csv('C:/Users/jxjsj/Desktop/tianchi/purchasepredict/tianchi_fresh_comp_train_user.csv')

In [4]:
train_item = pd.read_csv('C:/Users/jxjsj/Desktop/tianchi/purchasepredict/tianchi_fresh_comp_train_item.csv')

In [27]:
def cat_train_valid_test(row):
    if pd.notnull(row['time']):
        td = pd.to_datetime(row['time'][0,10], format='%Y-%m-%d')
        if td <= '2014-12-03':
            return 'train'
        if td >= '2014-12-04':
            return 'valid'

In [28]:
train_user['dset'] = train_user.apply(cat_train_valid_test, axis = 1)

MemoryError:

训练集
11.18-12.2 12.3

验证集
12.4-12.17 12.18

测试集
12.4-12.18 12.19

全输入集为2
该商品被用户浏览的次数

In [12]:
train_user[]

,user_id,item_id,behavior_type,user_geohash,item_category,time
0,10001082,285259775,1,97lk14c,4076,2014-12-08 18
1,10001082,4368907,1,NaN,5503,2014-12-12 12
2,10001082,4368907,1,NaN,5503,2014-12-12 12
3,10001082,53616768,1,NaN,9762,2014-12-02 15
4,10001082,151466952,1,NaN,5232,2014-12-12 11
5,10001082,53616768,4,NaN,9762,2014-12-02 15
6,10001082,290088061,1,NaN,5503,2014-12-12 12
7,10001082,298397524,1,NaN,10894,2014-12-12 12
8,10001082,32104252,1,NaN,6513,2014-12-12 12
9,10001082,323339743,1,NaN,10894,2014-12-12 12
10,10001082,396795886,1,NaN,2825,2014-12-12 12
11,10001082,9947871,1,NaN,2825,2014-11-28 20
12,10001082,150720867,1,95qoghe,3200,2014-12-15 08
13,10001082,275221686,1,NaN,10576,2014-12-03 01
14,10001082,97441652,1,NaN,10576,2014-11-20 21
15,10001082,275221686,1,NaN,10576,2014-12-13 14
16,10001082,275221686,1,NaN,10576,2014-12-08 07
17,10001082,220586551,1,NaN,7079,2014-12-14 03
18,10001082,296378545,1,NaN,6669,2014-12-02 12
19,10001082,266563343,1,95qobus,5232,2014-12-12 11
20,10001082,151466952,1,NaN,5232,2014-12-12 11
21,10001082,209290607,1,NaN,5894,2014-12-14 16
22,10001082,296378545,1,NaN,6669,2014-12-02 12
23,10001082,22667958,1,95qogn4,10523,2014-12-15 08
24,10001082,125083630,1,NaN,4722,2014-12-14 03
25,10001082,236453039,1,NaN,10576,2014-12-08 07
26,10001082,282931871,1,NaN,6000,2014-12-10 13
27,10001082,266188611,1,NaN,10223,2014-11-20 19
28,10001082,302705570,1,NaN,10894,2014-12-12 12
29,10001082,45258196,1,NaN,5894,2014-12-12 12
...,...,...,...,...,...,...
23290997,65341491,254748610,1,NaN,3673,2014-11-26 19
23290998,65341491,294363339,1,NaN,3174,2014-11-30 06
23290999,65341491,342943046,1,NaN,3174,2014-11-30 06
23291000,65341491,295083528,1,NaN,8526,2014-12-02 17
23291001,65341491,128927836,1,95qhb05,12510,2014-12-08 12
23291002,65341491,133876554,1,NaN,1797,2014-11-18 11
23291003,65341491,306563201,2,NaN,1797,2014-12-17 18
23291004,65341491,141457412,1,NaN,10961,2014-12-12 06
23291005,65341491,74058337,1,NaN,6450,2014-12-02 17
23291006,65341491,309130576,1,NaN,11721,2014-12-11 07
23291007,65341491,309130576,1,NaN,11721,2014-12-11 07
23291008,65341491,242501625,1,95qhbs7,3942,2014-12-08 19
23291009,65341491,119296766,1,NaN,1797,2014-11-18 12
23291010,65341491,133942491,1,NaN,5140,2014-12-03 12
23291011,65341491,119296766,1,NaN,1797,2014-11-18 12
23291012,65341491,6230123,1,NaN,338,2014-12-03 18
23291013,65341491,42748021,1,NaN,12510,2014-12-11 07
23291014,65341491,133486908,1,95qhb09,3942,2014-12-08 19
23291015,65341491,155217475,2,NaN,3093,2014-12-18 01
23291016,65341491,149524160,1,NaN,11595,2014-12-03 17
23291017,65341491,250557965,1,NaN,13164,2014-12-03 12
23291018,65341491,154674105,1,95qhbpe,12510,2014-12-08 12
23291019,65341491,42748021,1,95qhb0r,12510,2014-12-08 12
23291020,65341491,74058337,1,NaN,6450,2014-12-03 12
23291021,65341491,312926385,1,NaN,9412,2014-11-29 10
23291022,65341491,259008790,1,NaN,13164,2014-12-03 12
23291023,65341491,336404938,1,NaN,13164,2014-12-03 12
23291024,65341491,52142024,1,95qhbsu,5201,2014-12-10 22
23291025,65341491,250557965,1,NaN,13164,2014-12-03 12
23291026,65341491,300315408,1,NaN,1838,2014-11-29 08

In [13]:
train_item

          item_id item_geohash  item_category
0       100002303          NaN           3368
1       100003592          NaN           7995
2       100006838          NaN          12630
3       100008089          NaN           7791
4       100012750          NaN           9614
5       100014072          NaN           1032
6       100014463          NaN           9023
7       100019387          NaN           3064
8       100023812          NaN           6700
9        10003007          NaN           5827
10      100030202          NaN           5932
11       10003122          NaN          11406
12      100033138          NaN          12326
13      100033167          NaN          11406
14      100039129          NaN           8561
15      100041366          NaN          12630
16      100041489          NaN          10356
17      100041991          NaN           5351
18      100042875          NaN          12090
19      100044374          NaN          10576
20      100044973          NaN           8990
21      100045775          NaN           3925
22      100048509          NaN          12375
23      100054946          NaN           2284
24      100059639          NaN           7995
25      100063506          NaN          12688
26      100072469          NaN           8792
27       10007473          NaN           3956
28      100079162          NaN           4778
29      100082638          NaN           3942
...           ...          ...            ...
620888   99952985          NaN           6648
620889   99954971          NaN           9789
620890   99956184          NaN           3368
620891    9995737          NaN           9614
620892   99961547          NaN          12067
620893   99961956          NaN           4008
620894   99962568          NaN           7467
620895   99964336          NaN           9569
620896   99965234          NaN           7876
620897   99965828          NaN          10063
620898   99967143          NaN           7311
620899   99969544          NaN          13547
620900   99969944          NaN           3064
620901   99972179          NaN           3064
620902   99972800          NaN           8254
620903    9997305          NaN           7995
620904   99976101          NaN          11952
620905   99979922          NaN           2284
620906   99981403          NaN          12170
620907    9998183          NaN             94
620908   99982605          NaN          11406
620909   99986249          NaN           4510
620910   99990171          NaN           6648
620911   99990473          NaN           3064
620912   99992394          NaN          10356
620913   99994679          NaN           9205
620914   99995241          NaN            597
620915   99998434          NaN           8099
620916   99998861          NaN          12553
620917   99999855          NaN           3900

[620918 rows x 3 columns]

In [11]:
len(train_user['item_category'].unique())

9557

In [14]:
len(train_item['item_category'].unique())

1054

In [9]:
len(train_user['user_id'].unique())

20000

In [8]:
len(train_user['item_id'].unique())

4758484

In [7]:
len(train_item['item_id'].unique())

422858

In [16]:
item_user = set(list(train_user['item_id'].unique()))
item_item = set(list(train_item['item_id'].unique()))

In [23]:
in_item_not_user = 0
for i in item_item:
    if i in item_user:
        pass
    else:
        in_item_not_user +=1
print(in_item_not_user)

0