In [10]:
# -*- coding: utf-8 -*-
import re
import urllib
import cx_Oracle
import urllib.request
import os
import pandas as pd

In [17]:
os.environ['NLS_LANG']='SIMPLIFIED CHINESE_CHINA.UTF8'
dwzx_oracle_ip = '222.92.214.61'
dwzx_oracle_port = 20001
dwzx_oracle_SID = 'sidwdzx1'
dsn_tns = cx_Oracle.makedsn(dwzx_oracle_ip, dwzx_oracle_port, dwzx_oracle_SID)
db1 = cx_Oracle.connect('sjcj','dwzqsjcj',dsn_tns )

DatabaseError: ORA-12170: TNS: 连接超时

In [16]:
cursor=db1.cursor()
cursor.execute("select s_dq_close_today from wind.AshareEODDerivativeIndicator where trade_dt>='20190307'")
row=cursor.fetchall()
db1.close
result=pd.DataFrame(row)

OperationalError: ORA-03135: 连接失去联系
进程 ID: 187962
会话 ID: 1514 序列号: 5023

In [15]:
result

             0
0        16.84
1        12.66
2         4.27
3         3.90
4        15.30
5        15.46
6        31.19
7        33.28
8        10.31
9        19.52
10        4.00
11       11.08
12        5.13
13        8.15
14       16.21
15       11.22
16        6.65
17       31.04
18       24.51
19       25.93
20        2.84
21       10.29
22       14.76
23        4.08
24       14.81
25       11.69
26        6.21
27        7.56
28       10.07
29       11.26
...        ...
403506    5.70
403507    4.41
403508   11.49
403509   10.50
403510  100.79
403511    3.38
403512   11.42
403513   11.06
403514   12.77
403515    6.73
403516    5.41
403517    7.06
403518    5.97
403519    4.57
403520    4.91
403521    2.62
403522   26.18
403523    4.46
403524    5.96
403525   23.47
403526   24.91
403527   11.65
403528    4.45
403529   11.87
403530   10.66
403531    3.76
403532    6.46
403533   20.34
403534   21.39
403535   16.15

[403536 rows x 1 columns]